<section class="wrapper style1 align-center">
	<div class="inner small">
			<!--Intro-->
			<h2>Certificates</h2>
	</div>
</section>
{%for cert in site.certificates reversed%}
	{% assign mod = forloop.index | modulo: 2 %}
	{%if forloop.index == 1%}
	<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
	{%elsif mod == 0%}
	<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
	{%else%}
	<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
	{%endif%}
		<div class="content">
			<ul>
				{%if cert.description%}
				{%for desc in cert.description%}
				{{desc}}
				<p></p>
				{%endfor%}
				{%endif%}
			</ul>
		</div>
		<div class="content">
			<h2>{{cert.title}}</h2>
			<p>{{cert.content}}</p>
			<p>{{cert.start_end}}</p>
			<ul class="actions stacked">
				<li><a href="{{cert.link}}" target="_blank" class="button" >Credential Link</a></li>
			</ul>
		</div>
		<div class="image fit">
			{%if cert.image_url[0] == true%}
			<a href="{{cert.link}}" target="_blank" ><img src="{{ cert.image_url[1] }}" alt="" /></a>
			{%else%}
			<a href="{{cert.link}}" target="_blank" ><img src="assets/images/certs/{{ cert.images }}" alt="" /></a>
			{%endif%}
		</div>
	</section>


{%endfor%}