
<section class="wrapper style1 align-center">
    <div class="inner">
        <!--Intro-->
        <h2>Massa sed condimentum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum.</p>
    </div>

    <!-- Gallery -->
        <div class="gallery style2 medium lightbox onscroll-fade-in">
            {% for item in site.projects reversed %}
            <article>
                <a href="{{item.link}}" target="_blank" class="image">
                    {% if item.image_url[0] == true %}
                    <img src="{{ item.image_url[1] }}" alt="" />
                    {% else %}
                    <img src="assets/images/gallery/{{ item.images }}" alt="" />
                    {% endif %}
                </a>
                <div class="caption">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.content }}</p>
                    <ul class="actions fixed">
                        <li><span class="button small">Details</span></li>
                    </ul>
                </div>
            </article>
            {% endfor %}
        </div>

</section>
