{%for project in site.experience%}
	{% assign mod = forloop.index | modulo: 2 %}
	{%if mod == 0%}
	<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in" id="first">
	{%else%}
	<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
	{%endif%}
		<div class="content">
			<h2>{{project.title}}</h2>
			<p>{{project.content}}</p>
			<ul class="actions stacked">
				<li><a href="{{project.link}}" target="_blank" class="button" >Learn More</a></li>
			</ul>
		</div>
		<div class="image">
			<a href="{{project.link}}" target="_blank" ><img src="assets/images/projects/{{ project.title }}.png" alt="" /></a>
		</div>
	</section>

{%endfor%}