<section class="wrapper style1 align-center">
	<div class="inner">
		<!--Intro-->
		<h2>Experience</h2>
		<p></p>
	</div>
{%for project in site.experience%}
	{% assign mod = forloop.index | modulo: 2 %}
	{%if forloop.index == 1%}
	<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
	{%elsif mod == 0%}
	<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
	{%else%}
	<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
	{%endif%}
		<div class="content">
			<h2>{{project.title}}</h2>
			<p>{{project.content}}</p>
			<ul class="actions stacked">
				<li><a href="{{project.link}}" target="_blank" class="button" >Learn More</a></li>
			</ul>
		</div>
		<div class="image">
			{%if project.image_url[0] == true%}
			<a href="{{project.link}}" target="_blank" ><img src="{{ project.image_url[1] }}" alt="" /></a>
			{%else%}
			<a href="{{project.link}}" target="_blank" ><img src="assets/images/projects/{{ project.images }}" alt="" /></a>
			{%endif%}
		</div>
	</section>
</section>

{%endfor%}